
SECTION.dark P
{
	color: hsl(150, 38%, 75%);
}

SECTION.dark STRONG
{
	color: white;
}

SECTION.hero
{
	padding-bottom: 300px;
	background-image: url(/images/collage.jpg);
}

SECTION.hero .wordmark
{
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 1;
	display: flex;
	align-items: flex-end;
	align-content: flex-end;
	justify-content: flex-end;
}

SECTION.hero .wordmark IMG
{
	max-width: 50px;
}

SECTION.hero .wordmark DIV
{
	padding-left: 0.1em;
	font-size: 30px;
	font-weight: 900;
	line-height: 1.25;
}

SECTION.hero .content
{
	text-align: center;
}

SECTION.hero H1, SECTION.hero P
{
	width: fit-content;
	margin: auto;
}

SECTION.hero H1:before, SECTION.hero P:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 100px;
	box-shadow: 0 50px 200px 50px rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.2);
	z-index: -1;
}

SECTION.hero H1
{
	padding-top: 140px;
	z-index: 1;
}

SECTION.hero P
{
	padding: 30px 0 70px;
}

SECTION.about
{
	padding-top: 100px;
	text-align: center;
}

SECTION.about .block
{
	width: fit-content;
	margin: auto;
	padding: 3em;
	border-radius: 30px;
	background: linear-gradient(
		0deg,
		hsl(150, 60%, 90%),
		hsl(150, 60%, 98%));
}

SECTION.demo
{
	padding-top: 100px;
	padding-bottom: 200px;
	min-height: 1000px;
	text-align: center;
}

SECTION.demo .iphone-wrapper
{
	width: fit-content;
	margin: 80px auto;
	padding: 20px;
	border-radius: 70px;
	background-color: black;
	box-shadow: 
		0 10px 50px rgba(0, 0, 0, 1),
		inset 0 0  0 1px hsl(60, 0%, 42%),
		inset 0 0 0 5px hsl(120, 0%, 17%);
}

SECTION.demo .iphone-wrapper:before
{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 25px;
	margin: auto;
	width: 155px;
	height: 5px;
	border-radius: 10px;
	background-color: hsl(180, 0%, 30%);
}

SECTION.demo IFRAME
{
	width: 428px;
	height: 830px;
	margin-bottom: 30px;
	border: 0;
	border-radius: 50px;
}

SECTION.demo IMG
{
	display: block;
}

SECTION.demo .dip
{
	background-image: url("/images/dip-light-green.svg");
}

SECTION.open-source
{
	min-height: max(1000px, 70vh);
	text-align: center;
	background-color: hsl(151, 39%, 71%);
	background-image: url("/images/bg.mountains.jpg");
	background-size: 100% 900px;
	background-repeat: no-repeat;
}

SECTION.open-source .content
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: fit-content;
	height: fit-content;
	transform: translateY(-40%);
}

SECTION.footer
{
	padding-top: 100px;
	padding-bottom: 30px;
	font-size: 20px;
}

SECTION.footer *
{
	font-size: inherit;
}

SECTION.footer .content
{
	max-width: 800px;
	margin: auto;
}

SECTION.footer IMG.office
{
	max-width: 500px;
	float: right;
	z-index: 1;
	border-radius: 6px;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
}

SECTION.footer H2
{
	text-transform: uppercase;
	font-weight: 700;
	color: hsl(150, 22%, 74%);
}

SECTION.footer H2, SECTION.footer P
{
	line-height: 1.75;
}

SECTION.footer A
{
	text-decoration: none;
	cursor: pointer;
}

SECTION.footer .bottom
{
	display: flex;
	clear: both;
	padding: 10px 0 50px;
}

SECTION.footer .bottom > *
{
	flex: 1 0;
}

SECTION.footer .social
{
	padding-top: 50px;
}

SECTION.footer .social IMG
{
	width: 50px;
	margin-right: 20px;
}

SECTION.footer .blessing
{
	text-align: right;
}

SECTION.footer .heart
{
	color: hsl(6, 80%, 58%);
}

/* EmailOctopus */

.text-center:last-of-type
{
	display: none;
}

.eo-container
{
	position: absolute;
	z-index: 1;
	top: 0;
	left: -99vw;
	pointer-events: none;
}
